

.header-logo img{
  width: 120px;

  padding: 20px 0;
}

.header-info{
  FONT-WEIGHT: 100;
/* padding-top: 10px;
	padding-bottom: 10px; */

  flex-flow: row wrap;

  margin-left: 20%;
  text-align: right;
  /* margin-top:50%; */
  /* margin-bottom:50%; */
}

.header-location-info-address {

  padding-left: 14px;
  font-family: CentraleSansLight, Verdana, Helvetica, sans-serif;
  border-left: 2px solid #6e9c78;
  text-align: center;
  font-size: 14px;

}
div {
  display: block;
}

.CentraleSansBold {
  font-family: CentraleSansBold;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

mat-toolbar{
  height: 100%;
}
