
<mat-toolbar color="dark"  fxLayout="row" fxLayoutAlign="space-between center">
<div class ="header-logo" fxFlex ="40" ><img src="../../assets/logo_small_grey.PNG" alt="Elements Massage Home"></div>
<div fxFlex fxHide.lt-md = "true"  class = "header-info">
  <table role = "presentation" >
    <tr>
      <td><div class = "header-location-info-hours CentraleSansBold">
          <span>Mon - Sun 10am - 9pm</span>
      </div></td>
      <td> <div class = "header-location-info-address">
        <span itemprop="streetAddress">47028 Harry Byrd Hwy #100,</span><br>
        <span itemprop="addressLocality">Sterling</span>
        <span itemprop="addressRegion">VA</span >&nbsp;
        <span itemprop="postalCode">20164</span>
      </div></td>
    </tr>
</table>
</div>

</mat-toolbar>

