<mat-tab-group mat-align-tabs="center">
  <mat-tab label="1">



    <mat-card class = "items">

    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card></mat-tab>
  <mat-tab label="2">


    <mat-card id="card" style="text-align: center;">
      <mat-card-title>
        login
      </mat-card-title>

      <mat-card-content>

        <mat-form-field>
          <input matInput placeholder="email">
        </mat-form-field><br/>

        <mat-form-field>
          <input matInput placeholder="password">
        </mat-form-field><br/>
        <button mat-raised-button color="primary" style="margin-right:5px;">login</button>
        <button mat-raised-button color="primary" style="margin-right:5px;">register</button>

      </mat-card-content>
</mat-card>
  </mat-tab>
  <mat-tab label="3"> <mat-card class = "items">

      <mat-card-title>Deep Tissue</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card></mat-tab>
  <mat-tab label="4"> <mat-card class = "items">

      <mat-card-title>Deep Tissue</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card>
  </mat-tab>
  <mat-tab label="5">
    <mat-card class = "items">
    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card>
  </mat-tab>
  <mat-tab label="6"> <mat-card class = "items">
    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card>
  </mat-tab>
</mat-tab-group>

