<!-- <mat-tab-group mat-align-tabs="center">
  <mat-tab label="Deep Tissue">
    <mat-card class = "items">

    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Relax, unwind, and heal.</mat-card-subtitle>
    <mat-card-actions></mat-card-actions>
      <img mat-card-image #ServeItemsComponent src = "../assets/service/deeptissue.jpg">
    <mat-card-content>This type of massage therapy delves deeply to reach muscle, fascia, and connective tissue. Applied judiciously by a skilled practitioner, it may help improve posture, ease movement, and release chronic tension. Pressure is strong.</mat-card-content>
    </mat-card></mat-tab>

  <mat-tab label="Swedish">
    <mat-card class = "items">

    <mat-card-title>Swedish</mat-card-title>
    <mat-card-subtitle>A soothing, full-body massage designed to relax and rejuvenate sore muscles.</mat-card-subtitle>
    <mat-card-actions></mat-card-actions>
      <img mat-card-image #ServeItemsComponent src = "../assets/service/swedish.jpg">
    <mat-card-content>Incorporates long, gliding strokes and kneading techniques on the upper layers of the muscles. This massage relaxes muscles, improves circulation, increases range of motion, and stimulates the skin and nervous system. It enhances balance and harmony while creating a sense of relaxed well-being. Haven's Signature massage oils reduce excessive friction and nourish your skin. Pressure can be light to medium.</mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Hot Stone Massage"> <mat-card class = "items">

      <mat-card-title>Hot Stone Massage</mat-card-title>
      <mat-card-subtitle>An ancient Chinese technique that uses heat to relax and soothe tired and muscles.</mat-card-subtitle>
      <img mat-card-image #ServeItemsComponent src = "../assets/main-card/massage-therapy3.jpg">
      <mat-card-content>Smooth, polished basalt lava stones are heated and placed strategically on areas carrying stress. The stones are then used as an extension of the therapist's hands to penetrate deep into the muscles for maximum muscle relaxation.</mat-card-content>
    </mat-card></mat-tab>
  <mat-tab label="4"> <mat-card class = "items">

      <mat-card-title>Deep Tissue</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card>
  </mat-tab>
  <mat-tab label="5">
    <mat-card class = "items">
    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card>
  </mat-tab>
  <mat-tab label="6"> <mat-card class = "items">
    <mat-card-title>Deep Tissue</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card>
  </mat-tab>
</mat-tab-group> -->

<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of tabLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav>
<router-outlet></router-outlet>
