<mat-toolbar color="#fdd835" class = "navbar">
  <mat-toolbar-row>
    <div fxFlex.xs="376" fxHide.gt-xs = "true" fxHide.xs = "false">
    <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
        <h1>SimpleCRM</h1>
        <span class = "menu-spacer"></span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs = "true">
          <ul fxLayout fxLayoutGap="10px" class = "navigation-items">
            <li><a mat-button routerLink="/" routerLinkActive="router-link-active">Home</a></li>
            <li><a mat-button routerLink="/description" routerLinkActive="router-link-active"  >Description</a></li>
            <li><a mat-button routerLink="/workhours" routerLinkActive="router-link-active"  >Work Hours</a></li>
            <li><a mat-button >VIP Card</a></li>
            <li><a mat-button >Reservation</a></li>
            <li><a mat-button >About6</a></li>
          </ul>

        </div>
      </mat-toolbar-row>

  </mat-toolbar>
