.post img{
  height: 100%;
  width:100%;

}
.card{
  margin: 0 10vw;
}

.primary, .secondary{
  transition: none;
  padding: 0px;
  border-radius: 0px;
  background:none;
}
.primary, .secondary:not([class*=mat-elevation-z]){
  box-shadow: none;
}

