.post img{
  height: 100%;
  width:100%;

}
.card{
  margin: 0 4vw;
}
.secondary{
	background-color:yellowgreen; 
}
.primary, .secondary{
  transition: none;
  padding: 0px;
  border-radius: 0px;
  background:none;
}
.primary, .secondary:not([class*=mat-elevation-z]){
  box-shadow: none;
}

