<div fxLayout="row" class = "card"  fxLayout.lt-lg="column" fxLayoutGap.gt-md="1vw" fxLayoutGap.lt-md="1vh" fxFlex
fxLayoutAlign="center stretch">
  <div fxFlex ><app-main-card></app-main-card></div>
<div fxFlex ><div fxLayout="column" class = "intro">
    <br /><br />
  <p [ngStyle.gt-lg]="{' font-size': '20px'}" [ngStyle.lt-lg]="{' font-size': '12px'}">  Welcome to our website. If you are looking for a professional massage therapist, you've come to the right place.</p></div>
  <br />
  <p [ngStyle.gt-lg]="{' font-size': '20px'}" [ngStyle.lt-lg]="{' font-size': '12px'}">  We are all professionally trained and excellent massage therapists. Our team massage therapists will deliver your sessions to fit your exact needs, that will reduce stress, relax tension, realign body and muscle.</p>
<br />
<p [ngStyle.gt-lg]="{' font-size': '20px'}" [ngStyle.lt-lg]="{' font-size': '12px'}">  Our normal workhours are 10:00 am - 09:00 pm, Monday to Sunday. For Holiday hours, we work 10:00 am - 04:00 pm on Thanks Giving Day, Christmas Day and New Year.</p>
<br />
<p [ngStyle.gt-lg]="{' font-size': '20px'}" [ngStyle.lt-lg]="{' font-size': '12px'}">  If you have any questions or feeback, or want to buy a gift card or either make a schedule, please don't hesitate to contact us. Give us a call, we want to hear from you!</p>
</div>


</div>
