<!--The content below is only a placeholder and can be replaced.-->
<meta name='viewport' content='width=device-width，initial-scale=1'>
<app-header></app-header>
<main>
  <!-- <app-post-create>

  </app-post-create> -->


  <div fxLayout="column"  fxLayoutGap="10px">
    <div fxFlex.lt-md="50" fxFlex.lt-sm="100" ><app-row-nav>

    </app-row-nav></div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column"  fxLayoutGap="10px" fxFlex="100"  fxFlex.gt-md="50">

      <div fxFlex  class = primary>2 <router-outlet></router-outlet></div>
      <div fxFlex class = "secondary">3</div>
    </div>

    <div fxFlex.lt-md="50" fxFlex.lt-sm="100" >
      <app-tail>
    </app-tail></div>
  </div>
</main>





