<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<main>
  <!-- <app-post-create>

  </app-post-create> -->



  <div id = "content" class = "content" >

    <app-row-nav>

    </app-row-nav>

      <div id = "content-wrap">
        <div class = primary>
            <app-main-card></app-main-card>
        </div>
        <div class = "secondary">
          <app-sidenav></app-sidenav>
        </div>
      </div>

      <div>
        <app-tail>

        </app-tail>
      </div>

    </div>


</main>
