main {
  margin-top: 1rem;


}

.content{
  /* position: fixed; */
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

/* .primary {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;

  display:1;
}

.secondary{
  display:1;
  background-color: green;
  margin: 10px;
  padding: 20px;
  font-size: 30px;


} */
.header-location-name-right a{
  /* float: right; */
  height: 64px;
  color: #fff;
  font-size: 26px;
  font-family: CentraleSansBold;
  text-decoration: none;
}
.header-location-name-left h2 {
  line-height: 64px;
    padding: 0;
  color: #fff;
  height: 64px;
  font-size: 32px;
  font-family: CentraleSansBold;
}
.card{
  flex-basis: 100%;
  height: 100%;
}

.navbar {
  color: #fff;
  justify-content: space-between;
  background-color : #8860d0;

}
.sub-navbar{
  height: 100%;
  justify-content: space-between;
  background-color : #B360D5;
}
span{
  padding-right: 1rem;
}



.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

div{
  display: block;
}



.sidebar-container {
  height : 100%;
}

.sidebar, .sidebar-content{
    padding: 16px;
}

.sidebar{
  background-color: lightcoral;
  width: 20px;
}



header
{
  /* position : fixed; */
	margin: 0px;
	z-index: 3;
	font-family: cursive;
	border: 1px solid gray;
	/* padding-top: 10px;
	padding-bottom: 10px; */
	line-height: 23px;
	height: 40px;
	width: 100%;
	background-color: white;
}
.mat-toolbar-row{
	margin: 0px;
	z-index: 3;

}
