<!--The content below is only a placeholder and can be replaced.-->
<meta name='viewport' content='width=device-width，initial-scale=1'>
<app-header></app-header>
<main>
  <!-- <app-post-create>

  </app-post-create> -->



  <div id = "content" class = "content" >

    <app-row-nav>

    </app-row-nav>

      <div  id = "content-wrap">
        <div class = primary>
          <router-outlet></router-outlet>
        </div>
        <div class = "secondary">
          <app-sidenav></app-sidenav>
        </div>
      </div>

      <div>
        <app-tail>

        </app-tail>
      </div>

    </div>


</main>
